/*
 * Project and contributions formating
 */

div.page > h2 {
  margin-bottom: 1rem;
}

div.page > p {
  margin-bottom: 0;
}

div.page > ul {
  padding-left: 1rem;
}

div.page > ul > li {
  /* line-height: 1.2;*/
  list-style: none;
}

div.page > ul > li > a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.page > ul > li > code {
  font-size: 70%;
}
